<div>
	<mat-form-field style="margin-right: 5px">
		<mat-label>States</mat-label>
		<mat-select [(value)]="selectedStates" (valueChange)="stateChanged()" multiple>
			<mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Time ago</mat-label>
		<mat-select placeholder="Country" (valueChange)="stateChanged()" [(ngModel)]="timeAgo" name="country">
			<mat-option *ngFor="let c of ago" [value]="c.value">
				{{ c.title }}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div *ngFor="let dataHolder of dataHolders" style=" display: inline-block">
	<h2 style="color: white">{{dataHolder.name}}</h2>
	<ngx-charts-line-chart
		[legend]="true"
		[view]="[800, 400]"
		[showXAxisLabel]="true"
		[showYAxisLabel]="true"
		[xAxis]="true"
		[yAxis]="true"
		[autoScale]="true"
		xAxisLabel="date"
		[yAxisLabel]="dataHolder.name"
		[timeline]="true"
		[results]="dataHolder.multi"
	>
	</ngx-charts-line-chart>
</div>
